<%- include layouts/header.ejs %>

    <div class="page-data">
        <div>
            <form method="post" action="/search" style="display: inline;">
                <label class="label">Search</label>: <input type="text" name="search">
                <div class="data-btn" style="display: inline;">
                    <input type="submit" name="submit" value="Search">
                </div>
                <div class="data-btn" style="display: inline;">
                    <input type="submit" name="submit" value="Graph" formaction="/graph">
                </div>                
            </form>
        </div>
        <br>

        <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>

                <% if(data.length){ for(var i=0;i < data.length;i++) { %>

                    <tr>
                        <td>
                            <%=(i+1)%>
                        </td>
                        <td>
                            <%=data[i].name%>
                        </td>
                        <td>
                            <%=data[i].address%>
                        </td>
                        <td>
                            <%=data[i].phone%>
                        </td>
                        <td>
                            <%=data[i].email%>
                        </td>
                        <td>
                            <a class="a-inside edit" href="../edit/<%=data[i].email%>">Edit</a>

                            <a class="a-inside delete" href="../delete/<%=data[i].email%>">Delete</a>

                        </td>
                    </tr>
                    <% } }else{ %>
                        <tr>
                            <td colspan="6">No data available</td>
                        </tr>
                        <% } %>

            </table>
        </div>
    </div>
    <div class="data-btn" style="display: block; text-align: right;padding-right: 8px;">
        <button onClick="addUser();">+ Add</button>
    </div>
    <br>
    <div>
        <a class="a-inside btn" href="/">Back to home page</a>
    </div>

    <%- include layouts/footer.ejs %>